In [1]:
# Imprimiendo un mensaje
print("¡Hola, Jupyter Notebook está funcionando correctamente!")

# Realizar una operación matemática básica
resultado = 2 + 3
print(f"El resultado de 2 + 3 es: {resultado}")

# Crear una lista y mostrarla
mi_lista = [1, 2, 3, 4, 5]
print("Esta es mi lista:", mi_lista)

import pandas as pd  # Para cargar y trabajar con datos
import matplotlib.pyplot as plt  # Para gráficos

¡Hola, Jupyter Notebook está funcionando correctamente!
El resultado de 2 + 3 es: 5
Esta es mi lista: [1, 2, 3, 4, 5]

In [2]:
# Carga del archivo CSV con codificación especificada
df = pd.read_csv("wfs_behaviors_and_records_508p-546d-98r_20220722173739.csv", encoding="latin1")



# Información general del dataset
df.info()

# Mostrar las primeras filas
df.head()

C:\Users\Bautista\AppData\Local\Temp\ipykernel_14120\3627499063.py:2: DtypeWarning: Columns (35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("wfs_behaviors_and_records_508p-546d-98r_20220722173739.csv", encoding="latin1")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411948 entries, 0 to 411947
Data columns (total 42 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sub_ID                   411948 non-null  int64
 1   sub_fname                411948 non-null  object
 2   sub_lname                411948 non-null  object
 3   sub_age                  411948 non-null  int64
 4   sub_sex                  411948 non-null  object
 5   sub_shift                411948 non-null  object
 6   sub_team                 411948 non-null  object
 7   sub_role                 411948 non-null  object
 8   sub_coll_IDs             411136 non-null  object
 9   sub_colls_same_sex_prtn  410957 non-null  float64
 10  sub_health_h             411948 non-null  float64
 11  sub_commitment_h         411948 non-null  float64
 12  sub_perceptiveness_h     411948 non-null  float64
 13  sub_dexterity_h          411948 non-null  float64
 14  sub_sociality_h          411948 non-null  float64
 15  sub_goodness_h           411948 non-null  float64
 16  sub_strength_h           411948 non-null  float64
 17  sub_openmindedness_h     411948 non-null  float64
 18  sub_workstyle_h          411948 non-null  object
 19  sup_ID                   411136 non-null  float64
 20  sup_fname                411136 non-null  object
 21  sup_lname                411136 non-null  object
 22  sup_age                  411136 non-null  float64
 23  sup_sub_age_diff         411136 non-null  float64
 24  sup_sex                  411136 non-null  object
 25  sup_role                 411136 non-null  object
 26  sup_commitment_h         411136 non-null  float64
 27  sup_perceptiveness_h     411136 non-null  float64
 28  sup_goodness_h           411136 non-null  float64
 29  event_date               411948 non-null  object
 30  event_week_in_series     411948 non-null  int64
 31  event_day_in_series      411948 non-null  int64
 32  event_weekday_num        411948 non-null  int64
 33  event_weekday_name       411948 non-null  object
 34  behav_comptype_h         411846 non-null  object
 35  behav_cause_h            77 non-null      object
 36  actual_efficacy_h        191657 non-null  float64
 37  record_comptype          408010 non-null  object
 38  record_cause             102 non-null     object
 39  recorded_efficacy        191272 non-null  float64
 40  recorded_note_from_sup   18589 non-null   object
 41  record_conf_matrix_h     21715 non-null   object
dtypes: float64(17), int64(5), object(20)
memory usage: 132.0+ MB

,sub_ID,sub_fname,sub_lname,sub_age,sub_sex,sub_shift,sub_team,sub_role,sub_coll_IDs,sub_colls_same_sex_prtn,...,event_weekday_num,event_weekday_name,behav_comptype_h,behav_cause_h,actual_efficacy_h,record_comptype,record_cause,recorded_efficacy,recorded_note_from_sup,record_conf_matrix_h
0,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Presence,NaN,NaN,Presence,NaN,NaN,NaN,NaN
1,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Efficacy,NaN,1.489,Efficacy,NaN,1.2,NaN,NaN
2,98000002,Joan,Winter,61,F,Shift 1,Team 2,Team Leader,"[98000001, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Presence,NaN,NaN,Presence,NaN,NaN,NaN,NaN
3,98000002,Joan,Winter,61,F,Shift 1,Team 2,Team Leader,"[98000001, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Efficacy,NaN,1.023,Efficacy,NaN,0.8,NaN,NaN
4,98000003,Elizabeth,Martinez,20,F,Shift 1,Team 3,Team Leader,"[98000001, 98000002, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Presence,NaN,NaN,Presence,NaN,NaN,NaN,NaN